:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    /* Font and Font Weights */
    --fs-p: 1rem;
    --ff-YoungSerif: 'Young Serif', serif;
    --ff-Outfit: 'Outfit', sans-serif;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
}

body {
    font-family: var(--ff-YoungSerif);
    background-color: var(--stone-100);
    color: var(--stone-600);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-p);
}

.container {
    width: 25vw;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--white);
    padding: 2rem;
    margin: 2rem;
    font-size: var(--fs-p);
}

img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

