:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    /* Font and Font Weights */
    --fs-p: 1rem;
    --ff-YoungSerif: 'Young Serif', serif;
    --ff-Outfit: 'Outfit', sans-serif;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
}

body {
    font-family: var(--ff-YoungSerif);
    background-color: var(--stone-100);
    color: var(--stone-600);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-p);
    line-height: 150%;
}

.container {
    width: 50vw;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--white);
    padding: 1.5rem;
    margin: 1rem;
    font-size: var(--fs-p);
}

img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

h1 {
    font-weight: var(--fw-400);
    font-size: 2rem;
    color: var(--stone-900);
}

.header p {
    font-family: var(--ff-Outfit);
    font-weight: var(--fw-400);
    font-size: 1rem;
}

.prep {
    display: flex;
    flex-direction: column;
    background-color: var(--stone-100);
    padding-left: 0.5rem;
    border-radius: 5px;
    margin: 0;
    font-size: 0.9rem;
    font-family: var(--ff-Outfit);
}

.prep h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-family: var(--ff-Outfit);
    font-weight: var(--fw-600);
}

li::marker {
    color: var(--brown-800)
}

h2 {
    font-weight: var(--fw-400);
    color: var(--brown-800);
    margin-top: 1rem;
    font-family: var(--ff-YoungSerif);
    margin-top: 1.5rem;
}

ul, ol {
    gap: 0.5rem;
    padding-inline: 1.5rem;
    display: flex;
    flex-direction: column;
    font-family: var(--ff-Outfit);
}

hr {
    border-color: 1px solid var(--stone-150);
    margin-block: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: var(--ff-Outfit);
}

td>b {
    color: var(--brown-800);
}

td {
    border-bottom: 1px solid var(--stone-150);
    padding: 0.5rem;
}